<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MyToDo.MyToDo" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:allowBackup="true"  android:label="MyToDo"
               android:theme="@android:style/Theme.DeviceDefault">
  </application>
</manifest>